/*
	Show Schedule form and calendar styles
 */
.show-schedule-form {
	padding: 0 0 20px;
}

/* Hide or show some elements dependiot on form scenario */
.show-schedule-form.update .button-add-show {
	display: none;
}
.show-schedule-form.update .button-update-show {
	display: inline-block;
}
.show-schedule-form .button-update-show {
	display: none;
}

.show-schedule-form .clear-schedule {
	display: none;
}
.show-schedule-form.update .clear-schedule {
	display: inline;
}
